* {
  background: #8cc461;
  position: relative;
}

/* tile box css */
.title-box {
  position: absolute;
  width: 800px;
  height: 135px;
  left: 225px;
  top: 20px;
  border: 2px solid #ffffff;
  border-radius: 13px;
  padding: 14px 16px;
}
.title {
  position: absolute;
  width: 135px;
  height: 37px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.c-score {
  position: absolute;
  width: 139px;
  height: 130px;
  left: 480px;

  background: #ffffff;
  border-radius: 9px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-align: center;
  color: #656565;
}
.h-score {
  position: absolute;
  width: 139px;
  height: 130px;
  left: 650px;
  text-align: center;
  background: #ffffff;
  border-radius: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;

  letter-spacing: 0.1em;

  color: #656565;
}
.c-score :nth-child(1) {
  top: 10px;

  background: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 10px;

  letter-spacing: 0.1em;

  color: #656565;
}
.h-score :nth-child(1) {
  top: 10px;

  background: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 10px;

  letter-spacing: 0.1em;

  color: #656565;
}
#c-score {
  position: absolute;
  width: 79px;
  height: 63px;
  left: 32px;
  top: 50px;
  background: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 80px;
  text-align: center;

  color: #252525;
}
#h-score {
  position: absolute;
  width: 79px;
  height: 63px;
  left: 32px;
  top: 50px;
  background: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 80px;
  text-align: center;

  color: #252525;
}

/* game box css */

.game-box {
  width: 500px;
  height: 300px;
  top: 260px;
  left: 300px;
}

.rock-circle1 {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 120px;
  border-radius: 50%;
  background-color: #0074b6;
  border: 16px solid #0074b6;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  cursor: pointer;
}
.rock-circle2 {
  position: absolute;
  width: 110px;
  height: 110px;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.rock-img {
  position: absolute;
  top: 22px;
  left: 15px;
  width: 80px;
  height: 58.51px;
  background: none;
}
.scissor-circle1 {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 360px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #bd00ff;
  border: 16px solid #bd00ff;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.scissor-circle2 {
  position: absolute;
  width: 110px;
  height: 110px;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.scissor-img {
  position: absolute;
  top: 24px;
  left: 40px;
  width: 37px;
  height: 53.5px;
  background: none;
  transform: rotate(5.27deg);
}
.paper-circle1 {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 240px;
  top: 180px;
  border-radius: 50%;
  background-color: #ffa943;
  border: 16px solid #ffa943;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  cursor: pointer;
}
.paper-circle2 {
  position: absolute;
  width: 110px;
  height: 110px;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.paper-img {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 72px;
  height: 72px;
  background: none;
}
.line1 {
  position: absolute;
  width: 133px;
  height: 0px;
  left: 240px;
  top: 60px;
  border: 8px solid rgba(0, 0, 0, 0.64);
}
.line2 {
  position: absolute;
  width: 107.91px;
  height: 0px;
  left: 180px;
  top: 170px;
  border: 8px solid rgba(0, 0, 0, 0.64);
  transform: rotate(60.58deg);
}
.line3 {
  position: absolute;
  width: 107.91px;
  height: 0px;
  left: 320px;
  top: 170px;
  border: 8px solid rgba(0, 0, 0, 0.64);
  transform: rotate(120deg);
}
/* RUles box css*/

.rules-btn {
  position: absolute;
  width: 122px;
  height: 40px;
  left: 1100px;
  top: 540px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.1em;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}
.rules-btn:active {
  background-color: #72a24d;
}
.next-btn {
  padding-top: 6px;
  position: absolute;
  width: 115px;
  height: 29px;
  left: 1100px;
  top: 540px;
  text-decoration: none;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.1em;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}
.next-btn:active {
  background: #72a24d;
}
.rules-box {
  display: none;
  position: absolute;
  width: 290px;
  height: 317px;
  left: 964px;
  top: 208px;
}
.content {
  box-sizing: border-box;

  position: absolute;
  width: 260px;
  height: 290px;
  top: 27px;
  background: #004429;
  border: 5px solid #ffffff;
  border-radius: 13px;
}
.cancel-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff0000;
  color: white;
  border: 5px solid #ffffff;
  left: 235px;
  font-family: cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
}
.rules-heading {
  position: absolute;

  left: 50px;

  background: #004429;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 20px;

  color: #ffffff;
}
.rule1 {
  position: absolute;
  width: 211px;
  height: 27px;
  left: 30px;
  top: 60px;
  background: #004429;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: #ffffff;
}

/* after user click */
.game-box1 {
  display: none;
  width: 850px;
  height: 340px;
  top: 200px;
  left: 220px;
}

.rock-circle-u {
  display: none;
  position: absolute;
  width: 110px;
  height: 110px;
  left: 100px;
  top: 100px;

  border-radius: 50%;
  background-color: #0074b6;
  border: 16px solid #0074b6;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  cursor: pointer;
}
.rock-circle2-u {
  position: absolute;
  width: 110px;
  height: 110px;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.rock-img-u {
  position: absolute;
  top: 22px;
  left: 15px;
  width: 80px;
  height: 58.51px;
  background: none;
}
.scissor-circle-u {
  display: none;
  position: absolute;
  width: 110px;
  height: 110px;
  left: 100px;
  top: 100px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #bd00ff;
  border: 16px solid #bd00ff;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.scissor-circle2-u {
  position: absolute;
  width: 110px;
  height: 110px;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.scissor-img-u {
  position: absolute;
  top: 24px;
  left: 40px;
  width: 37px;
  height: 53.5px;
  background: none;
  transform: rotate(5.27deg);
}
.paper-circle-u {
  display: none;
  position: absolute;
  width: 110px;
  height: 110px;
  left: 100px;
  top: 100px;
  border-radius: 50%;
  background-color: #ffa943;
  border: 16px solid #ffa943;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  cursor: pointer;
}
.paper-circle2-u {
  position: absolute;
  width: 110px;
  height: 110px;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.paper-img-u {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 72px;
  height: 72px;
  background: none;
}

/* pc picked */

.rock-circle-pc {
  display: none;
  position: absolute;
  width: 110px;
  height: 110px;
  top: 100px;
  left: 610px;
  border-radius: 50%;
  background-color: #0074b6;
  border: 16px solid #0074b6;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  cursor: pointer;
}
.rock-circle2-pc {
  position: absolute;
  width: 110px;
  height: 110px;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.rock-img-pc {
  position: absolute;
  top: 22px;
  left: 15px;
  width: 80px;
  height: 58.51px;
  background: none;
}
.scissor-circle-pc {
  display: none;
  position: absolute;
  width: 110px;
  height: 110px;
  top: 100px;
  left: 610px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #bd00ff;
  border: 16px solid #bd00ff;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.scissor-circle2-pc {
  position: absolute;
  width: 110px;
  height: 110px;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.scissor-img-pc {
  position: absolute;
  top: 24px;
  left: 40px;
  width: 37px;
  height: 53.5px;
  background: none;
  transform: rotate(5.27deg);
}
.paper-circle-pc {
  display: none;
  position: absolute;
  width: 110px;
  height: 110px;
  top: 100px;
  left: 610px;
  border-radius: 50%;
  background-color: #ffa943;
  border: 16px solid #ffa943;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  cursor: pointer;
}
.paper-circle2-pc {
  position: absolute;
  width: 110px;
  height: 110px;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
}
.paper-img-pc {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 72px;
  height: 72px;
  background: none;
}
.shake:hover {
  animation: shake 2s;

  animation-iteration-count: initial;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-25deg);
  }
  20% {
    transform: rotate(25deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(25deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: t rotate(-25deg);
  }
}
.game-status {
  background: none;
  left: 317px;
  top: 140px;
  position: absolute;
  width: 213px;
  height: 30px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: bolder;
  font-size: 38px;

  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.replay-btn {
  position: absolute;
  width: 164px;
  height: 44px;
  left: 340px;
  top: 240px;
  border: none;
  background: #ffffff;
  border-radius: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: #6b6b6b;
}
.replay-btn:active {
  background-color: rgb(150, 150, 150);
  color: #ffa943;
}
.user-picked {
  position: absolute;
  width: 113px;
  height: 16px;
  left: 123px;
  top: 54px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.pc-picked {
  position: absolute;
  width: 113px;
  height: 16px;
  left: 640px;
  top: 54px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.ecllipse-u {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 20px;
  top: 20px;
  border-radius: 50%;
  background: rgba(46, 154, 37, 0.39);
  box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.13);
}
.ecllipse1 {
  top: 25px;
  left: 25px;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgba(29, 168, 43, 0.79);
}
.ecllipse2 {
  top: 25px;
  left: 25px;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #2ea100;
}
.ecllipse-pc {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 530px;
  top: 20px;
  border-radius: 50%;
  background: rgba(46, 154, 37, 0.39);
  box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.13);
}

@media screen and (max-width: 450px) {
  .title-box {
    width: 200px;
    height: 160px;
    left: 25px;
  }
  .title {
    font-size: 15.8px;
    position: absolute;
    width: 200px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;

    letter-spacing: 0.1em;

    color: #ffffff;
  }
  .score-box {
    left: 0;
  }
  .c-score {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 60px;
    left: 4px;
    background: #ffffff;
    border-radius: 9px;
    font-size: 12px;

    letter-spacing: 0.1em;
  }
  .h-score {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 60px;
    left: 106px;
    background: #ffffff;
    border-radius: 9px;
    font-size: 12px;

    letter-spacing: 0.1em;
  }
  .c-score :nth-child(1) {
    top: 10px;

    background: none;

    font-size: 14px;
    line-height: 10px;

    letter-spacing: 0.1em;

    color: #656565;
  }
  .h-score :nth-child(1) {
    top: 10px;

    background: none;

    font-size: 14px;
    line-height: 10px;

    letter-spacing: 0.1em;

    color: #656565;
  }
  #c-score {
    position: absolute;
    width: 50px;
    height: 33px;
    background: none;
    font-size: 25px;
    top: 30px;
    left: 19px;
    color: #252525;
  }
  #h-score {
    position: absolute;
    width: 50px;
    height: 33px;
    background: none;
    font-size: 25px;

    top: 30px;
    left: 19px;
    color: #252525;
  }
  .game-box {
    width: 280px;
    height: 200px;
    top: 250px;
    left: 0px;
  }
  .rock-circle1 {
    width: 50px;
    height: 50px;
    left: 35px;
    border: 8px solid #0074b6;
  }
  .rock-circle2 {
    width: 50px;
    height: 50px;
  }
  .rock-img {
    top: 5px;
    left: 6px;
    width: 39px;
    height: 33.51px;
  }
  .paper-circle1 {
    width: 50px;
    height: 50px;
    left: 110px;
    top: 120px;
    border: 8px solid #ffa943;
  }
  .paper-circle2 {
    width: 50px;
    height: 50px;
  }
  .paper-img {
    top: 7px;
    left: 8px;
    width: 38px;
    height: 35.51px;
  }
  .scissor-circle1 {
    width: 50px;
    height: 50px;
    left: 180px;
    border: 8px solid #bd00ff;
  }
  .scissor-circle2 {
    width: 50px;
    height: 50px;
  }
  .scissor-img {
    top: 8px;
    left: 14px;
    width: 25px;
    height: 30.51px;
  }
  .line1 {
    width: 80px;
    height: 0px;
    left: 94px;
    top: 20px;
    border: 7px solid rgba(0, 0, 0, 0.44);
    background-color: #252525;
  }
  .line2 {
    width: 80px;
    height: 0px;
    left: 54px;
    top: 90px;
    border: 7px solid rgba(0, 0, 0, 0.44);
    background-color: #252525;
    transform: rotate(60.58deg);
  }
  .line3 {
    width: 80px;
    height: 0px;
    left: 135px;
    top: 90px;
    border: 7px solid rgba(0, 0, 0, 0.44);
    background-color: #252525;
    transform: rotate(120deg);
  }
  .rules-btn {
    width: 100px;
    height: 30px;
    left: 186px;
    top: 480px;
    font-weight: 600;
    font-size: 15px;
  }
  .next-btn {
    width: 95px;
    height: 20px;
    left: 186px;
    top: 480px;
    font-weight: 600;
    font-size: 15px;
  }
  .rules-box {
    display: none;
    position: absolute;
    width: 180px;
    height: 250px;
    left: 130px;
    top: 210px;
    background: none;
  }
  .content {
    width: 170px;
    height: 260px;
    top: 5px;
    background: #004429;
    border: 5px solid #ffffff;
    border-radius: 13px;
  }
  .cancel-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 6px;
    left: 134px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background: none;
  }
  .rules-heading {
    position: absolute;

    left: 40px;
    top: 15px;
    background: #004429;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;

    color: #ffffff;
  }
  .rule1 {
    position: absolute;
    width: 130px;
    height: 2px;
    left: 30px;
    top: 60px;
    background: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 9px;
  }
  /* after user click */
  .game-box1 {
    width: 250px;
    height: 200px;
    top: 250px;
    left: 20px;
  }
  .rock-circle-u {
    width: 40px;
    height: 40px;
    left: 30px;
    top: 70px;

    border-radius: 50%;
    background-color: #0074b6;
    border: 7px solid #0074b6;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
    cursor: pointer;
  }
  .rock-circle2-u {
    position: absolute;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  }
  .rock-img-u {
    position: absolute;
    top: 5px;
    left: 7px;
    width: 25px;
    height: 25.51px;
    background: none;
  }
  .scissor-circle-u {
    width: 40px;
    height: 40px;
    left: 30px;
    top: 70px;
    border: 7px solid #bd00ff;
  }
  .scissor-circle2-u {
    position: absolute;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  }
  .scissor-img-u {
    position: absolute;
    top: 6px;
    left: 9px;
    width: 25px;
    height: 25.51px;
  }
  .paper-circle-u {
    width: 40px;
    height: 40px;
    left: 30px;
    top: 70px;
    border: 7px solid #ffa943;
  }
  .paper-circle2-u {
    position: absolute;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  }
  .paper-img-u {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 25px;
    height: 25.51px;
    background: none;
  }

  /* pc picked */

  .rock-circle-pc {
    width: 40px;
    height: 40px;
    left: 175px;
    top: 70px;

    border-radius: 50%;
    background-color: #0074b6;
    border: 7px solid #0074b6;
  }
  .rock-circle2-pc {
    position: absolute;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  }
  .rock-img-pc {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 27px;
    height: 25px;
    background: none;
  }
  .scissor-circle-pc {
    width: 40px;
    height: 40px;
    left: 175px;
    top: 70px;
    border: 7px solid #bd00ff;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  }
  .scissor-circle2-pc {
    position: absolute;
    width: 40px;
    height: 40px;
  }
  .scissor-img-pc {
    position: absolute;
    top: 6px;
    left: 9px;
    width: 25px;
    height: 25.51px;
  }
  .paper-circle-pc {
    width: 40px;
    height: 40px;
    left: 175px;
    top: 70px;
    border: 7px solid #ffa943;
  }
  .paper-circle2-pc {
    position: absolute;
    width: 40px;
    height: 40px;
  }
  .paper-img-pc {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 25px;
    height: 25.51px;
    background: none;
  }
  .game-status {
    background: none;
    left: 100px;
    top: 80px;
    position: absolute;
    width: 63px;
    height: 20px;
    font-size: 10px;
    letter-spacing: 0.1em;
  }

  .replay-btn {
    position: absolute;
    width: 54px;
    height: 18px;
    left: 104px;
    top: 103px;

    border-radius: 6px;
    font-weight: bolder;
    font-size: 6px;
    line-height: 2px;
    letter-spacing: 0.1em;

    color: #6b6b6b;
  }
  .user-picked {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 30px;
    top: 40px;

    font-size: 8px;
    line-height: 10px;
  }
  .pc-picked {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 175px;
    top: 40px;

    font-size: 8px;
    line-height: 10px;
  }
  .against-pc {
    display: none;
  }
  .ecllipse-u {
    width: 80px;
    height: 80px;
    left: 17px;
    top: 57px;
    border-radius: 50%;
    background: rgba(43, 185, 31, 0.39);
    box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.13);
  }
  .ecllipse1 {
    top: 5px;
    left: 5px;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(29, 168, 43, 0.79);
  }
  .ecllipse2 {
    top: 5px;
    left: 5px;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #2ea100;
  }
  .ecllipse-pc {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 162px;
    top: 58px;
    border-radius: 50%;
    background: rgba(43, 185, 31, 0.39);
    box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.13);
  }
}
@media screen and (min-width: 1320px) {
  .title-box {
    left: 280px;
    width: 800px;
  }
  .game-box {
    left: 400px;
  }
  .game-box1 {
    left: 280px;
  }
  .rules-btn {
    left: 1240px;
    top: 570px;
  }
  .next-btn {
    left: 1240px;
    top: 570px;
  }
  .rules-box {
  }
}
